/* ---------------------------------------
DEEP COLOR -> rgb(40, 62, 74)
LIGHT COLOR -> rgb(0, 132, 191)

65 / LIGHT COLOR -> rgb(77, 198, 255)
40 / LIGHT COLOR -> rgb(0, 139, 204)
35 / DEEP COLOR -> rgb(62, 97, 116)
30 / DEEP COLOR -> rgb(0, 105, 153)
--------------------------------------- */

/* IMPORT CSS ELEMENTS */
@import url("button.css");
@import url("input.css");
@import url("table.css");
@import url("message.css");
@import url("tab.css");

/* LOAD AND SET FONTS */
@font-face {
	font-family: "Raleway";
	font-weight: normal;
	src: url("assets/fonts/raleway-medium.ttf");
}
@font-face {
	font-family: "Raleway";
	font-weight: bold;
	src: url("assets/fonts/raleway-semibold.ttf");
}
html, body {
	
	font-size: 14px;
}
h1 {
	margin: 0;
}

/* STYLES */
body {
	padding: 0;
	margin: 0;
	color: rgba(0, 0, 0, 0.75);
	background-color: rgba(255, 255, 255, 1);
	text-size-adjust: 100%;
	width: 100%;
}

@media only screen and (max-width: 350px) {
	body {
		width: 325px;
	}
}
* {
	outline: none;
}
a {
	color: rgb(87, 114, 227);
	text-decoration: none;
	font-weight: bold;
}
a:hover {
	opacity: 0.85;
	transition: opacity 0.5s ease;
}

/* CUSTOM STYLES */
*::-webkit-scrollbar {
	width: 5px;
	height: 5px;
	background-color: transparent;
	border-radius: 0;
}
*::-webkit-scrollbar-thumb {
	border-radius: 2.5px;
	background: rgba(0, 0, 0, 0.1);
}

textarea[name="coverLetter"]:focus {
	height: 20em;
}
textarea[name="coverLetter"] {
	height: 7.5em;
}

[data-name="all-answers"] textarea {
	height: 3.75em;
}
[data-name="all-answers"] textarea:focus {
	height: 15em;
}
*:disabled {
	opacity: 0.35;
}

table {
    width: 100%;
    text-align: left;
    border: 1px solid rgb(87, 114, 227);
    border-radius: 2px;
    border-spacing: 0;
	overflow-y:scroll;
   height:190px;
   display:block;
}        
table th:first-child {
    border-radius: 2px 0 0 0;
}
table th:last-child {
    border-radius: 0 2px 0 0;
}
table td:first-child, table th:first-child {
    border-left: medium none;
}
table th {
    border-top: medium none;
    background: rgb(87, 114, 227);
}
table td, table th {
    border-left: 1px solid rgb(87, 114, 227);
    border-top: 1px solid rgb(87, 114, 227);
    padding: 1px;
    text-align: left;
    vertical-align: top;
}
table tr:hover {
    background: rgb(156, 167, 211);
}